In [3]:
#scrape nasa exo tables NICE NICE!

import requests
import urllib.request
import time
from bs4 import BeautifulSoup

In [4]:
url = "https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html"
response = requests.get(url)

In [9]:
soup = BeautifulSoup(response.text, 'html.parser')

In [54]:
pageHeaders = soup.findAll('h2' )
len(pageHeaders)

5

In [70]:
a = pageHeaders[0].text
a

'Default Columns'

In [33]:
allTables = soup.findAll('table' )
len(allTables)

5

In [37]:
tables = [
    [
        [td.get_text(strip=True) for td in tr.find_all('td')] 
        for tr in table.find_all('tr')
    ] 
    for table in soup.find_all('table')
]

In [76]:
paramCount = 0
for i in range (0, len(tables)):
    paramCount = paramCount + len(tables[i])
    print(pageHeaders[i].text + " " +  str(len(tables[i])) + " parameters")
    
print("\nTotal parameters= " + str(paramCount))

Default Columns 33 parameters
Planet Columns 41 parameters
Stellar  Columns 36 parameters
Photometry Columns 25 parameters
Color Columns 12 parameters

Total parameters= 147

In [18]:
soup.title

In [25]:
data = []
table = soup.find('table')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?