In [1]:
#scrape nasa exo tables NICE NICE!

import requests
import urllib.request
import time
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

pd.set_option('display.max_colwidth', -1)
pd.options.display.max_colwidth

-1

In [2]:
url = "https://exoplanetarchive.ipac.caltech.edu/docs/API_exoplanet_columns.html"
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
pageHeaders = soup.findAll('h2' )
allTables = soup.findAll('table' )

print("Number of headers: " + str(len(pageHeaders)))
print("Number of tables: " + str(len(allTables)))

Number of headers: 6
Number of tables: 5

In [5]:
#extract Tables
tables = [
    [
        [td.get_text(strip=True) for td in tr.find_all('td')] 
        for tr in table.find_all('tr')
    ] 
    for table in allTables
]

In [6]:
paramCount = 0
for i in range (0, len(tables)):
    paramCount = paramCount + len(tables[i])
    print(pageHeaders[i].text + " " +  str(len(tables[i])) + " parameters")
    
print("\nTotal number of parameter describing exoplanets = " + str(paramCount) + "\n")

print(len(dfDef))
print(len(dfPl))
print(len(dfSt))
print(len(dfPho))
print(len(dfClr))

Digital Object Identifier 33 parameters
Default Columns 41 parameters
Planet Columns 36 parameters
Stellar  Columns 25 parameters
Photometry Columns 12 parameters

Total number of parameter describing exoplanets = 147

NameError: name 'dfDef' is not defined

In [ ]:
#these were missing
tables[0][0] = 'Database Column Name','Table Label','Description', 'Uncertainties Column (positive +) (negative -)', 'Displayed String Name','Limit Column','Number of Measurements'
tables[1][0] = 'Database Column Name','Table Label','Description', 'Uncertainties Column (positive +) (negative -)', 'Displayed String Name','Limit Column','Number of Measurements'
tables[2][0] = 'Database Column Name','Table Label','Description', 'Uncertainties Column (positive +) (negative -)', 'Displayed String Name','Limit Column','Number of Measurements'
tables[3][0] = 'Database Column Name','Table Label','Description', 'Uncertainties Column (positive +) (negative -)', 'Displayed String Name','Limit Column','Number of Measurements'
tables[4][0] = 'Database Column Name','Table Label','Description', 'Uncertainties Column (positive +) (negative -)', 'Displayed String Name','Limit Column','Number of Measurements'

print(tables[0][0])
print(tables[1][0])
print(tables[2][0])
print(tables[3][0])
print(tables[4][0])

In [ ]:
#reconstruct table
#table 0  item 1 column
a = tables[0][1][0].encode('ascii', 'ignore').decode('ascii')
print(a)
print(tables[0][1][1])
print(tables[0][1][2])

In [ ]:
len(tables[0])

In [ ]:
df = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])
df

In [ ]:
#here is one example of how to do it. didn't turn up too well to spec

countUp = 0
for t in range(0,len(tables)):
    for p in range(1, len(tables[t])):
        df.loc[countUp] = [tables[t][p][0].encode('ascii', 'ignore').decode('ascii')] + [tables[t][p][1]] + [tables[t][p][2].replace("\n", " ")]
        countUp += 1
        if(p == len(tables[t]) - 1): #end of table
            df.loc[countUp+1] = [" "] + [" "] + [" "] #
            countUp += 1

#this seems fairly accurate
export_csv = df.to_csv (r'C:\Users\afiqAUT\Documents\projectRepos\infographicaRepo\infographicaGalactica\export_dataframe.csv', index = None, header=True)

In [ ]:
df

In [ ]:
df.to_html('NASAexoplanetsAttributesAndDefinition.html')

In [79]:
#here is a second solution
#array of pandasdataframes?
#try that

In [80]:
#here is a third
#what if we made 5 separate dataframes
#then appended them to a giant data frame

dfComb = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])
dfDef = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])
dfPl  = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])
dfSt  = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])
dfPho = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])
dfClr = pd.DataFrame(columns=["Database Column Name", "Table Label", "Description"])

countUp = 0
for p in range(1, len(tables[0])):
    dfDef.loc[countUp] = [tables[0][p][0].encode('ascii', 'ignore').decode('ascii')] + [tables[0][p][1]] + [tables[0][p][2]]
    countUp += 1

countUp = 0
for p in range(1, len(tables[1])):
    dfPl.loc[countUp] = [tables[1][p][0].encode('ascii', 'ignore').decode('ascii')] + [tables[1][p][1]] + [tables[1][p][2]]
    countUp += 1
    
countUp = 0
for p in range(1, len(tables[2])):
    dfSt.loc[countUp] = [tables[2][p][0].encode('ascii', 'ignore').decode('ascii')] + [tables[2][p][1]] + [tables[2][p][2]]
    countUp += 1
    
countUp = 0
for p in range(1, len(tables[3])):
    dfPho.loc[countUp] = [tables[3][p][0].encode('ascii', 'ignore').decode('ascii')] + [tables[3][p][1]] + [tables[3][p][2]]
    countUp += 1

countUp = 0
for p in range(1, len(tables[4])):
    dfClr.loc[countUp] = [tables[4][p][0].encode('ascii', 'ignore').decode('ascii')] + [tables[3][p][1]] + [tables[4][p][2]]
    countUp += 1

In [81]:
print(len(dfDef))
print(len(dfPl))
print(len(dfSt))
print(len(dfPho))
print(len(dfClr))

lens = [32,40,35,24,11]

sum(lens)

32
40
35
24
11

142

In [82]:
dfComb.append(dfDef , ignore_index = True)
dfComb

Empty DataFrame
Columns: [Database Column Name, Table Label, Description]
Index: []

In [83]:
%%html

<p>Definitions of Kepler Confirmed Exoplanet Parameters.</p>


<table style="width:100%">
  <tr>
    <th>Numver</th>
    <th>Database Column Name</th>
    <th>Table Label</th>
    <th>Description</th>
  </tr>
  
  
</table>

<p>This is a suitable problem for machine learning algorithms to tackle.</p>